@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=latin,cyrillic);
/*@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);*/
body {font-family:'Istok Web', Helvetica, Arial, sans-serif}
body, p, textarea, button, input {font-size: 110%}
form table th {text-align: right; padding-right: 15px}
p {margin-bottom: 1em}
pre {color: #333;}
label {font-size: 0.9em}
code {font-size: 0.85em}
input[name="name"] {width:90%;}
.help-block {font-size: 0.8em;}


.content {margin-top: 30px}
.content h3 {font-size: 1.3em}
.content h4 {font-size: 1.1em}

.main-alert {width: 40%; text-align: center}

/* Services list */
ul.services-list {margin: 0;}
.services-list li {list-style: none; margin: 0;}
.services-list li a {
	display: block;
	font-size: 1.3em;
	padding: 25px 25px 25px 15px;
	color: #333;
  line-height: 1.1em;
}
.services-list li a:hover {text-decoration: none}
.services-list li:hover {background-color: #eee}
.services-list a.selected {background-color: #5697D8; color: white;}

/* Service details */
.service-control {background: #66819C; padding: 5px; margin-bottom: 15px}
.service-control .btn {color: #333;}
.service-status {font-size: 0.8em}
.wsdl-content {font-size: .8em}
.service-functions {margin-bottom: 25px}
.service-functions li {margin-top: 10px; color: #333}
.service-functions .service-function-doc {color: #555;}

.edit-mode {
  background-color: rgb(242, 244, 245);
  border: 1px solid rgb(188, 207, 241);
  padding: 10px;
  margin-bottom: 25px;
}
.edit-mode h4 {margin-bottom: 25px}

/* Add service */
#addServiceModal {width: 700px; left: 44%;}

ul.service-functions-list {margin-left: 0}
.service-functions-list li {list-style: none}
.service-functions-container {
  border: 1px #d7dbe6 solid;
  background: #f4f6f8;
  padding: 15px;
  margin-bottom: 15px;
}
.service-functions-container code {
  display: block;
  white-space: normal;
  word-break: break-all;
}

.function-controls .btn {color:#333; border: 1px solid rgb(172, 172, 172);}

.badge-get {background-color: #3fb618;}
.badge-post {background-color: #9954bb}
.badge-put {background-color: #ff7518}
.badge-delete {background-color: #ff0039}


/* =========================== Tasks =============================*/
.tasks-up-bar {
  padding:15px 0;
  background-color: #eee;
  margin-bottom: 10px
}
.tasks-module-title {
  font-size: 1.2em;
  padding: 5px 0 0 15px;
}
ul.tasks-list {margin: 0;}
.tasks-list li {list-style: none; margin: 0;}
.tasks-list li a {
  display: block;
  font-size: 1.3em;
  padding: 25px 25px 25px 15px;
  color: #333;
  line-height: 1.1em;
}
.tasks-list li a:hover {text-decoration: none}
.tasks-list li:hover {background-color: #eee}
.tasks-list a.selected {background-color: #5697D8; color: white;}

.task-details input {width: 50%}

/* ========== Subtasks ============= */
.subtasks-control {background: rgb(66, 101, 136); padding: 5px; margin-bottom: 15px}
.subtasks-control .btn {color: #333;}
.subtask-title {padding: 15px;}
.subtask-figure { 
  border: 1px solid grey;
  background-color: #43a24d;
  color: white
}
.subtask-figure p {margin: 15px;}
.subtask-figure .btn {color: #333;}
.subtask-figure .btn-primary {color: #fff;}

.subtask-connection {
  height: 20px;
  width: 50%; 
  border-right: 4px solid grey; 
}

.subtask-controls {padding: 15px;}

.subtask-realizations {
  padding: 5px 15px 15px 15px;
  color: #444;
  background-color: #fff;
  font-size: 0.95em;
  margin-bottom: 10px;
}
.subtask-realizations ul {margin: 0 0 25px 0}
.subtask-realizations li {margin-bottom: 8px; list-style: none}
.subtask-realizations-controls {padding: 15px;}

.realizations-list {
  background-color: white;
  padding: 15px;
  margin: 15px;
  color: #333;
}
.unselected-realizations select {width: 100%; height: 200px;}
.realizations-list a.btn {color:white;}
.selected-realizations {color: #333; background-color: #eeeeee}
ul.selected-realizations {
  margin: 0;
  padding: 10px;
  list-style: none;
}
.selected-realizations li {
  line-height: 1.5em; 
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.selection-controls {text-align: center;}

.edit-realizations {border: 1px solid grey;}


/* ========================== Decisioner ====================== */
.decisioner-container {
  border: 1px solid #aaa;
  padding: 15px;
  margin-bottom: 25px;
}

.decisioner-control {background: rgb(76, 148, 133); padding: 5px; margin-bottom: 15px}

.decisioner-container .btn {color: #333;}
.decisioner-container table {font-size: 0.9em}
.decisioner-container table tr:first-child td {border-top: none}
.decisioner-container table td {vertical-align: middle;}
.decisioner-container p {
  line-height: 1.3em;
  font-size: 1em;
 }
ul.pareto-results {font-size: 0.85em; margin-bottom: 1.5em}
ul.pareto-results>li {list-style: none}
ul.pareto-results ul {margin-bottom: 1em}

input.compensation-slider {width: 100%}
input.compensation-value {width: 100%}

ul.pref-aware-variants {
  margin: 0 0 1.5em 0;
  padding: 15px;
  border: 3px solid #2d89ef;
  background-color: rgba(86, 65, 240, 0.02);
}
ul.pref-aware-variants>li {list-style: none}
ul.pref-aware-variants ul {margin-bottom: 1em}

.btn-group .btn-primary {color: white;}
.btn-group .btn-warning {color: white;}





/* =========================== Etc. =========================== */
.btn {
	-webkit-transition: all .2s ease-in-out; 
     -moz-transition: all .2s ease-in-out; 
       -o-transition: all .2s ease-in-out; 
          transition: all .2s ease-in-out; 
  -webkit-transform-style: preserve-3d;     /* safari fix for blinked text in animation */
  -webkit-transform: translate3D(0, 0, 0);  /* chrome fix of blinked animation */
  /* as far as i understand button stays in 3d, so no blink appears */
}
.btn:hover {
  -webkit-transform: scale(0.95); 
     -moz-transform: scale(0.95); 
      -ms-transform: scale(0.95); 
       -o-transform: scale(0.95); 
          transform: scale(0.95); 

  -webkit-transition: all .2s ease-in-out; 
     -moz-transition: all .2s ease-in-out; 
       -o-transition: all .2s ease-in-out; 
          transition: all .2s ease-in-out; 
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}