<div class="row-fluid tasks-up-bar">
	<div class="span3 tasks-module-title">Веб-сервисы</div>
	<div class="span9">
		<button class="btn btn-primary" role="button" data-toggle="modal" data-target="#addServiceModal"><i class='icon-plus icon-white'></i> Добавить веб-сервис</button>
    <!-- Modal window for adding service -->
    <div ng-include src="'/static/partials/service-add.html'"></div>
	</div>
</div>
<div class="row">
	<div class="span3" ng-include src="'/static/partials/service-list.html'"></div>

	<div class="span9 service-details" ng-show="currentService" ng-include src="'/static/partials/service-details.html'" ng-controller="ServiceDetailCtrl" ng-animate="{show: 'animated fadeIn'}"></div>
</div>
