<ul class="service-functions-list">
<li class="service-functions-container" ng-repeat="f in currentService.functions" ng-controller="manageFunctionCtrl">

<!-- ================== Информация по веб-сервису ========== -->
<div ng-hide="edit_function_mode">
	<div class="row-fluid">
		<div class="span10">
			{{ f.name }}
		</div>
	 	<div class="span2 function-controls">
	 		<button class="btn btn-small" ng-click="showHideEditFunctionForm(f)" tooltip-animation="true" tooltip="Редактировать функцию"><i class="icon-edit"></i></button>
			<button class="btn btn-small" ng-click="removeFunction(f)" tooltip-animation="true" tooltip="Удалить функцию"><i class="icon-remove"></i></button>
	 	</div>
	</div>
	<div class="row-fluid">
		<div class="span1"><span class="badge badge-{{ f.rest_method }}">{{ f.rest_method | uppercase }}</span></div>
		<div class="span11">
			<code>{{f.rest_test_uri}}</code>
		</div>
	</div>
	<!-- <div class="service-control">
		<a class="btn" href ng-click="refreshProperties()"><i class="icon-refresh"></i> Обновить значения характеристик</a>
	</div> -->
	<ul class="service-functions">
		<li>Чувствительность = {{ f.sensitivity }}</li>
		<li>Среднее время до отказа (MTBF) = {{ f.mtbf }} ч</li>
		<li>Среднее время восстановления (MTTR) = {{ f.mttr }} ч</li>
		<li>Доступность = {{ f.availability * 100 | number:3 }}%</li>
		<li>Вероятность корректной работы = {{ f.reliability * 100 | number:3 }}%</li>
		<li>Время работы с последнего сбоя (начала наблюдения) = {{ f.uptime}} ч </li>
		<li>Среднее время обработки запроса = {{ f.mean_latency}} ± {{f.std_latency }} мс</li>
		<li>Число бесплатных запросов в день = {{ f.free_day_limit }} шт</li>
		<li>Стоимость одного запроса = {{ f.cost }} центы доллара</li>
	</ul>
</div>
<!-- ===============/ Информация по веб-сервису ========== -->

<!-- =============== Edit function form ================== -->
<div ng-show="edit_function_mode" class="edit-mode">
	<h4>Редактирование функции</h4>

	<form ng-submit="updateRESTFunction(f)" class="form-horizontal">
		<div class="control-group">
	        <label class="control-label" for="name">Имя метода</label>
	        <div class="controls">
	          <input ng-model="f.name" type="text" name="name" required>
	          <span class="help-block">Имя метода в свободной форме</span>
	        </div>
     	</div>

		<div class="control-group">
	        <label class="control-label">Тип запроса</label>
	        <div class="controls">
	        	<div ng-repeat="m in rest_methods">
					<input type="radio" value="{{ m }}" ng-model="f.rest_method"> <span class="badge badge-{{ m }}">{{ m | uppercase}}</span>
	        	</div>
	        </div>
      	</div>

      	<div class="control-group">
	        <label class="control-label" for="rest_test_uri">Ссылка</label>
	        <div class="controls">
	          <textarea name="rest_test_uri" required rows="2" style="width: 90%" ng-model="f.rest_test_uri"></textarea>
	          <span class="help-block">Ссылка для тестирования с заполненными значениями аргументов</span>
	        </div>
     	</div>

     	<div>
		  <button type="submit" class="btn btn-primary"><i class="icon-ok icon-large"></i> Сохранить</button>
		  <button type="reset" class="btn" ng-click="showHideEditFunctionForm()" style="color:#333"><i class="icon-remove icon-large"></i> Отмена</button>
		</div>
	</form>
</div>
<!-- ================================================== -->



</li>
</ul>