<ul class="services-list">
  <li ng-repeat="service in services"><a ng-class="{selected: currentService == service}" ng-click="setCurrentService($index)" href>{{ service.name }}</a></li>
</ul>

<div ng-hide="services.length">
  <i class="icon-refresh icon-spin"></i> Загрузка списка сервисов.
</div>