<h3>Функции веб-сервиса</h3>

<div class="service-control">
		<a class="btn" href ng-click="showHideAddFunctionForm()"><i class="icon-plus-sign-alt"></i> Добавить функцию</a>
		<!-- <a class="btn" href ng-click="showHideEditFunctions()"><i class="icon-edit"></i> Редактировать список функций</a> -->
</div>

<!-- =============== Add function form ================== -->
<div ng-show="add_function_mode" class="edit-mode">
	<h4>Добавление функции</h4>

	<form ng-submit="addRESTFunction()" class="form-horizontal">
		<div class="control-group">
	        <label class="control-label" for="name">Имя метода</label>
	        <div class="controls">
	          <input ng-model="addedFunction.name" type="text" name="name" required>
	          <span class="help-block">Имя метода в свободной форме</span>
	        </div>
     	</div>

		<div class="control-group">
	        <label class="control-label">Тип запроса</label>
	        <div class="controls">
	        	<div ng-repeat="m in rest_methods">
					<input type="radio" value="{{ m }}" ng-model="addedFunction.rest_method"> <span class="badge badge-{{ m }}">{{ m | uppercase}}</span>
	        	</div>
	        </div>
      	</div>

      	<div class="control-group">
	        <label class="control-label" for="rest_test_uri">Ссылка</label>
	        <div class="controls">
	          <textarea name="rest_test_uri" required rows="2" style="width: 90%" ng-model="addedFunction.rest_test_uri"></textarea>
	          <span class="help-block">Ссылка для тестирования с заполненными значениями аргументов</span>
	        </div>
     	</div>

     	<div>
		  <button type="submit" class="btn btn-primary"><i class="icon-ok icon-large"></i> Сохранить</button>
		  <button type="reset" class="btn" ng-click="showHideAddFunctionForm()" style="color:#333"><i class="icon-remove icon-large"></i> Отмена</button>
		</div>
	</form>
</div>
<!-- ================================================== -->


<div ng-include="'/static/partials/service-details-rest-function.html'"></div>