<h2>
	<span class="muted">Веб-сервис:</span> {{ currentService.name }} 
	<span class="service-status" ng-switch="currentService.status"> 
		<span class="badge badge-success" ng-switch-when="up">работает</span>
		<span class="badge badge-warning" ng-switch-when="down">не работает</span>
		<span class="badge badge-info" ng-switch-when="proc"><i class="icon-refresh icon-spin"></i> обновление данных...</span>
		<span class="badge badge-info" ng-switch-default>состояние неизвестно</span>
	</span>
</h2>

<!-- Show on edit mode -->
<!-- ============= Edit service form ========================= -->
<form ng-show="service_edit_mode" class="edit-mode form-horizontal">
	<h4>Редактирование</h4>
	
	<div class="control-group">
		<label class="control-label" for="inputServiceName">Название:</label>
		<div class="controls">
			<input type="text" ng-model="currentService.name" name="inputServiceName" required>
		</div>
	</div>

	<div>
	  <a class="btn btn-primary" href ng-click="updateService()"><i class="icon-ok icon-large"></i> Сохранить</a>
	  <a class="btn" href ng-click="showHideEditServiceForm()" style="color:#333"><i class="icon-remove icon-large"></i> Отмена</a>
	</div>
</form>
<!-- ============= END Edit service form ========================= -->

<!-- Hide on edit mode -->
<!-- ============= Service info ================================== -->
<div ng-hide="service_edit_mode">
	<div class="service-control">
		<a class="btn" href ng-click="refreshData()"><i ng-class="{'icon-spin': currentService.status=='proc'}" class="icon-refresh"></i> Обновить данные</a>
		<a class="btn" href ng-click="showHideEditServiceForm()"><i class="icon-edit"></i> Редактировать</a>
		<a class="btn" href ng-click="remove()"><i class="icon-trash"></i> Удалить</a>
	</div>
	
	<p>
		<span class="muted">Тип:</span> {{ currentService.ws_type | uppercase }}
	</p>

	<!-- Next ws_type-aware includes -->
	<div ng-include="loadDetails()"></div>




<!--	<p>
		WSDL content 
		<a class="btn btn-info" href ng-click="toggleWsdlContent()">
			<span ng-hide="wsdlContentVisible"><i class="icon-circle-arrow-down icon-white"></i> Показать</span>
			<span ng-show="wsdlContentVisible"><i class="icon-circle-arrow-up icon-white"></i> Свернуть</span>
		</a>
		<div class="well wsdl-content hide"><pre>{{ currentService.wsdl_content }}</pre></div>
	</p>-->

</div>
<!-- p>Документация: {{ currentService.documentation }}</p -->
<!-- ============= END Service info ================================== -->