<!-- Modal -->
<div id="addServiceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addServiceModalLabel">Добавить веб-сервис</h3>
  </div>
  <div class="modal-body">

    <!-- Form -->
    <form class="form-horizontal" name="addServiceForm" ng-controller="ServiceAddCtrl" ng-submit="submit()">
      <div class="control-group">
        <label class="control-label" for="name">Название</label>
        <div class="controls">
          <input type="text" name="name" ng-model="name" autofocus required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="ws_type">Тип веб-сервиса</label>
        <div class="controls">
          <label class="radio">
            <input ng-model="ws_type" type="radio" name="ws_type" value="rest" ng-checked="true">
            REST
          </label>
          <label class="radio">
            <input ng-model="ws_type" type="radio" name="ws_type" value="wsdl">
            WSDL
          </label>
        </div>
      </div>
      <div ng-show="ws_type == 'wsdl'" class="control-group">
        <label class="control-label" for="uri">URL</label>
        <div class="controls">
          <input type="url" name="uri" ng-model="uri">
          <span class="help-block">Ссылка на WSDL-описание или на REST service scheme.</span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Отменить</button>
        <button type="submit" class="btn btn-primary btn-large"><i class="icon-plus icon-white"></i> Добавить</button>
      </div>

    </form>
  </div>
</div>
<script>
$('#addServiceModal').on('shown', function() {
  $(this).find('input[name="name"]').focus()
})
</script>