<!-- Subtasks -->
<div class="subtasks-container">
	<div ng-repeat="subtask in currentTask.subtasks | orderBy:'name'">
		<div ng-controller="manageSubTaskCtrl" class="subtask-figure">
			<div class="row-fluid">
				<div class="span10 subtask-title">
					<span ng-hide="subtask.editSubtaskMode">
						<span style="color:#aee0ac">Подзадача:</span> {{ subtask.name }}
					</span>
					<span ng-show="subtask.editSubtaskMode">
						Подзадача: <input style="margin-bottom: 0" type="text" id="subtask_name" ng-model="subtask.name" required autofocus>
				  		<a class="btn" href ng-click="saveSubTask(subtask)" style="color:#333"> Ок</a>
					</span>
				</div>
				<!-- Subtask controls -->
				<div class="span2 subtask-realizations-controls">
					<button class="btn" ng-click="showHideEditSubtaskForm(subtask)" tooltip-animation="true" tooltip="Редактировать подзадачу"><i class="icon-edit"></i></button>
					<button class="btn" ng-click="remove(subtask)" tooltip-animation="true" tooltip="Удалить подзадачу"><i class="icon-remove"></i></button>
				</div>
				<!-- /Subtask controls -->
			</div>

			<div ng-hide="editRealizationsMode" class="subtask-realizations">
				<h3 style="font-size:1.1em" class="media-heading">
					<span ng-show="chosenFunctions">
						Возможные реализации
					</span>
				</h3>
				<div ng-hide="chosenFunctions.length">
						Возможные реализации не добавлены
				</div>
				
				<!-- Список уже выбранных функций -->
				<ul>
					<li ng-repeat="cf in chosenFunctions">
						<b>{{ cf.ws_name }}</b> &ndash; {{ cf.name }}
					</li>
				</ul>

				<a class="btn edit-realizations" href ng-click="editRealizationsMode = true"><i class="icon-cogs"></i> Редактировать список реализаций</a>
			</div>

			<div ng-show="editRealizationsMode" class="realizations-list">
				<div class="row-fluid">
					<div class="span5 unselected-realizations">
						<p>Список реализаций</p>
						<select	name="functionsSelectionName"
								multiple
								ng-multiple="true"
								ng-model="selectedFunctions"
								ng-options="f.ws_name + ' &ndash; ' + f.name for f in unselectedFunctions | orderBy: 'name'" >
						</select>
					</div>
					<div class="span2 selection-controls">
						<p>&nbsp;</p>
						<a href ng-click="moveRealizationsToList($index)" class="btn btn-info">Добавить <i class="icon-chevron-right"></i></a>
					</div>
					<div class="span5">
						<p>Выбранные реализации</p>
						<ul class="selected-realizations">
							<li ng-repeat="cf in chosenFunctions">
								<a style="float:right; color: #888" href class="btn btn-small" ng-click="removeRealizationfromList($index)" tooltip-animation="true" tooltip="Удалить реализацию"><i class="icon-remove"></i></a>
								{{ cf.ws_name }} &ndash; {{ cf.name }} 
							</li>
						</ul>
					</div>
				</div>
				
				<div class="form-actions">
				  <button class="btn btn-primary" ng-click="saveChosenRealizations(subtask)">Сохранить</button>
				  <button type="button" class="btn" ng-click="editRealizationsMode = false">Отмена</button>
				</div>

			</div>

		</div>
		<div ng-hide="$last" class="subtask-connection">&nbsp;</div>
	</div>
</div>
<!-- /Subtasks -->