<div class="decisioner-container">

<div class="decisioner-control">
	<a class="btn" href ng-click="choosePareto()"><i class="icon-resize-small"></i> Выделить Парето-оптимальные реализации</a>
</div>

<div ng-show="paretoVariants" class="pareto-variants">
<p>Парето множества по подзадачам:</p>
<ul class="pareto-results">
	<li ng-repeat="subtask in paretoVariants | orderBy: 'name'">
		Подзадача:  {{ subtask.name }}<br>
		<ul>
			<li ng-repeat="fun in subtask.pareto_set">
				<b>{{ fun.ws_name }}</b> &ndash; {{ fun.name }}				
			</li>
		</ul>

	</li>
</ul>

<p>
	Вы можете уменьшить представленные множества Парето, задав предпочтения
	с помощью интерфейса ниже:
</p>
<div class="decisioner-control">
	<a class="btn" href ng-click="choosePreferenceAware()" tooltip-animation="true" tooltip="Сузить множество Парето с использованием информации о предпочтениях"><i class="icon-resize-small"></i><i class="icon-resize-small"></i> Сузить множество Парето</a>
</div>

<ul ng-show="preferenceAwareVariants" class="pref-aware-variants pareto-results">
	<a style="float: right; color: white" class="btn btn-small" ng-click="togglePrefAwareDetails()" tooltip-animation="true" tooltip="Показать детали по выбранным реализациям"><i class="icon-question-sign icon-large"></i></a>
	<p>Оптимальные по предпочтениям реализации:</p>
	
	<li ng-repeat="subtask in preferenceAwareVariants | orderBy: 'name'">
		Подзадача:  {{ subtask.name }}<br>
		<ul>
			<li ng-repeat="f in subtask.pareto_set">
				<b>{{ f.ws_name }}</b> &ndash; {{ f.name }}				
			</li> <!-- /pareto_set -->
		</ul>
		
		<table class="table table-bordered hide prefAwareDetails">
			<tr ng-repeat="f in subtask.pareto_set">
				<td>{{ f.ws_name }} &ndash; {{ f.name }}</td>
				<td>{{ f.sensitivity }}</td>
				<td>{{ f.availability }}</td>
				<td>{{ f.mtbf }}</td>
				<td>{{ f.mttr }}</td>
				<td>{{ f.reliability }}</td>
				<td>{{ f.uptime }}</td>
				<td>{{ f.mean_latency }}</td>
				<td>{{ f.std_latency }}</td>
				<td>{{ f.cost }}</td>
				<td>{{ f.free_day_limit }}</td>
			</tr>
		</table>

	</li>
	<!-- /Subtasks -->


</ul>


<table class="table tune-properties">
<tbody>
	<tr ng-repeat="c in compensations">
		<td>
			{{ c.r_name }}
			<div class="btn-toolbar">
			  <div class="btn-group">
			    <button ng-class="{'disabled': c.preferred != 1}" class="btn btn-small btn-primary" ng-click="setPreferred(c)">Компенсация</button>
			    <button ng-class="{'disabled': c.nonpreferred == 1 + c.preferred == 0}" class="btn btn-small btn-warning" ng-click="setNonPreferred(c)">Потеря</button>
			    <button ng-class="{'disabled': c.nonpreferred == 0 + c.preferred == 0}" class="btn btn-small" ng-click="resetPreferred(c)">Неизменное значение</button>
			  </div>
		   </div>
		</td>
		<td>
			<div class="row-fluid">
				<div class="span7">
				  <input type="range" step="{{ c.step }}" min=" {{ c.min }}" max=" {{ c.max }}" ng-model="c.value" class="compensation-slider" ng-disabled="c.nonpreferred + c.preferred == 0">
				</div>
				<div class="span2">
				  <input type="text" ng-model="c.value" class="compensation-value" ng-disabled="c.nonpreferred + c.preferred == 0">
				</div>
				<div class="offset1 span2">
					 {{ c.scale }}
				</div>
			</div>	
		</td>
	</tr>
</tbody>
</table>

</div>
<!-- /.pareto-variants -->

</div>
<!-- /.decisioner-container -->