<!-- Task Menu -->
<div class="row-fluid tasks-up-bar">
	<div class="span3 tasks-module-title">Задачи</div>
	<div class="span9">
		<a class="btn btn-primary" ng-click="showAddTaskForm()"><i class='icon-plus icon-white'></i> Добавить задачу</a>
		<!-- Modal window for adding task -->
		<div ng-include="'/static/partials/task-add.html'"></div>
	</div>
</div>



<!-- Content -->
<div class="row">
	<!-- Tasks list -->
	<div class="span3">
		
		<ul class="tasks-list">
		  <li ng-repeat="task in tasks | orderBy: 'name'">
		  	<a ng-class="{selected: currentTask == task}" ng-click="setCurrentTask(task)" href>{{ task.name }}</a>
		  </li>
		</ul>

		<div ng-hide="tasks.length">
		  <i class="icon-refresh icon-spin"></i> Загрузка списка задач.
		</div>
	</div>
	<!-- /Tasks list -->



	<div class="task-details span9" ng-show="currentTask" ng-controller="manageTaskCtrl" ng-animate="{show: 'animated fadeIn'}">
		
		<!-- Task -->
		<h3 ng-hide="editMode">
			<span class="muted">Задача:</span> {{ currentTask.name }}
		</h3>
		<form ng-show="editMode">
			Задача: <input style="margin-bottom: 0" type="text" id="task_name" ng-model="currentTask.name" required autofocus>
	  		<a class="btn" href ng-click="saveTask()" style="color:#333"> Ок</a>
		</form>

		<div class="service-control">
			<a class="btn" href ng-click="editMode = true"><i class="icon-edit"></i> Редактировать задачу</a>
			<a class="btn" href ng-click="remove()"><i class="icon-trash"></i> Удалить задачу</a>
		</div>

		<div class="subtasks-control">
			<a class="btn" href ng-click="addSubTask()"><i class="icon-plus-sign-alt"></i> Добавить подзадачу</a>
			<a class="btn" href ng-click="toggleDecisioner()"><i class="icon-magic icon-large"></i> Открыть панель выбора оптимальной реализации</a>
		</div>
		<!-- /Task -->
		
		<div ng-include="'/static/partials/task-decisioner.html'" ng-controller="taskDecisionerCtrl"></div>

		<div ng-include="'/static/partials/subtask.html'"></div>



	</div>	
</div>