<!-- Modal -->
<div id="addTaskForm" class="row hide" >
  <form class="form-horizontal span6" ng-controller="addTaskCtrl" ng-submit="submit()">
      <div class="control-group">
        <label class="control-label">Название задачи</label>
        <div class="controls">
          <input type="text" id="name" name="name" ng-model="task_name" autofocus required>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"> <i class="icon icon-plus"></i> Добавить</button>
        <button type="reset" class="btn" ng-click="showAddTaskForm()">Отменить</button>
      </div>
  </form>  
</div>

<style>
.form-horizontal {
  padding: 10px;
  border: 2px solid #0f82f5;
  background-color: #fff;
}
.form-actions {
  margin-bottom: 0
}
</style>
