<!DOCTYPE html>
<html ng-app="registry">
  <head>
    <meta charset="utf-8">
    <title>Web-services' registry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-application">
    <meta name="author" content="Dmitry Dushkin">

    <!-- Le styles -->
    <link href="/static/libs/bootstrap/css/bootstrap.cosmo.min.css" rel="stylesheet">
    <link href="/static/libs/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/libs/animate-custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/libs/font_awesome/css/font-awesome.min.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="/static/libs/font_awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>

  <div class="container">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
          <div class="brand"><i class="icon-bar-chart icon-large"></i> Выбор оптимальной СОА</div>                
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li ng-class="getClass('/decisioner')"><a href="#/decisioner">Задачи</a></li>
            <li ng-class="getClass('/registry')"><a href="#/registry">Сервисы</a></li>
            <li ng-class="getClass('/about')"><a href="#/about">О проекте</a></li>
          </ul>
       </div>
    </div>
      

    <!-- Content -->
    <div class="content">
       <div class="main-alert alert fade in" ng-cloak ng-show="alertMessage">
          <button type="button" class="close" ng-click="alertMessage=''">×</button>
          {{ alertMessage }}
       </div>
      <div ng-view ng-animate="{enter: 'animated fadeIn'}"></div> 
  	</div> <!-- /content -->

</div> <!-- /container -->


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- libs -->
  <script src="/static/libs/jquery/jquery-2.0.3.min.js"></script>
  <script src="/static/libs/jquery/jquery.utils.js"></script>

  <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="/static/libs/angularjs/1.1.5/angular-resource.min.js"></script>
  <script src="/static/libs/angularjs/ui-bootstrap-custom-tpls-0.3.0-SNAPSHOT.min.js"></script>
  <!-- /libs -->

  <script src="/static/js/services.js"></script>
  <script src="/static/js/manage-function-ctrl.js"></script>
  <script src="/static/js/registry-ctrl.js"></script>
  <script src="/static/js/service-add-ctrl.js"></script>
  <script src="/static/js/service-detail-ctrl.js"></script>
  <script src="/static/js/tasks-ctrl.js"></script>
  <script src="/static/js/task-decisioner-ctrl.js"></script>
  <script src="/static/js/app.js"></script>
  </body>
</html>